# Ignore .env files
*.env

# Ignore data and config directories
**/forgejo/
**/postgres/
**/library/
**/mealie_data/
**/mealie_pgdata/
**/opencloud_config/
**/opencloud_data/
**/caddy_config/
**/caddy_data/
**/www/
**/config/
**/secrets/
